<section class="bg-light">
    <div class="container">
        <div class="row vh-100 align-items-center">
            <div class="col-12 col-md-6 col-lg-9">
                <div class="d-flex justify-content-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
                      </svg>

                      <p class="display-3 mb-0 d-inline-flex fw-normal">
                        Crew
                        <span class="text-success">
                            Sync
                        </span>
                      </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <form class="p-3 bg-white shadow-sm d-flex flex-column gap-4 rounded-2" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <h4 class="text-center fw-light mb-0">Login</h4>
                    <fieldset>
                        <small class="text-secondary">Email</small>
                        <input type="email" class="form-control" placeholder="Email" ngModel name="email" required>
                        <small *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid" class="text-danger">Please enter a valid input</small>
                    </fieldset>
                    <fieldset class="mb-1">
                        <small class="text-secondary">Password</small>
                        <input type="password" class="form-control" placeholder="Password" ngModel name="password" required minlength="8">
                        <small *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid" class="text-danger">Please enter a valid password</small>
                        <!-- <small *ngIf="loginForm.controls['password'].hasError('minlength')" class="text-danger d-block">Password should be greater than 7 characters</small> -->

                    </fieldset>
                    <button class="btn btn-outline-success" [disabled]="!loginForm.valid">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>